<h1>Sign In</h1>
<form action="<%=users_new_url%>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <label for="username">Username</label>
    <input id="username" type="text" name="user[user_name]" value="">
  <br>
  <label for="password">Password</label>
    <input id="password" type="password" name="user[password]" value="">
  <br>
  <input type="submit" value="Login">
</form>
