<h1>Sign up</h1>

<form action="<%= users_url %>" method="post">
  <label id="email" for="email">Email</label>
  <input id="email" type="email" name="user[email]" value="">
  <br />
  <label id="password" for="password">Password</label>
  <input id="password" type="password" name="user[password]" value="">
  <br />
  <input type="submit" value="Create User">
</form>
