/* PHASE 5: Cats */

.content-header {
  height: 200px;
  width: 100%;
  background: url("/Users/appacademy/Desktop/W5D5/css-friends-05/skeleton/images/cats.jpg");
  background-size: cover;
  position: relative;
  line-height: 1px;
}


.header-title {
  color: white;
  text-shadow: 2px 2px black;
  position: absolute;
  top: 150px;
  left: 400px;
  font-size: 30px;
}

.header-button {
  position: absolute;
  top: 140px;
  left: 750px;
  background-color: white;
}

.button-header {
  height: 30px;
  background-color: gray;
  padding: 2px 20px 2px 20px;

}
