// Use the gear_dropdown.png screenshot as a style guide
#gear-dropdown {
  position: absolute;
  background-color: white;
  top: 30px;
  right: 5px;
  width: 200px;
  z-index: 1;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.dropdown-subtitle {
  font-family: $sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  margin-left: 10px;
}

.editions li {
  font-family: $sans-serif;
  text-transform: uppercase;
  margin: 5px 5px;
  padding: 5px;
}

.editions li:last-of-type{
  border-bottom: 1px solid $light-gray;
}

.editions li:hover {
  background-color: $light-gray;
}

.help li:hover {
  text-decoration: underline;
}

.help li {
  font-family: $sans-serif;
  color: $light-blue;
  margin: 10px 10px;
}
